<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer STYLE=" width: 50%; margin:  0 auto; text-align: center">
            <!-- this is footer -->
            © 2019
            <span   sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="principal.username"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a style="color: #0c5460" th:text="#{menu.button.logOut}" th:href="@{/logout}"></a>
            </span>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

        </footer>
    </div>

</div>
</body>
</html>