<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header-style">
    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <style>
            .btn-primary {
                background-color: #0c5460;
                border-color: #0c5460;
            !important;

            }
        </style>
    </head>

</div>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img style="width: 40px; height: 40px;" src="https://cdn.icon-icons.com/icons2/2073/PNG/512/birdhouse_tweet_twitter_icon_127117.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="width: 100%;">
                <li class="nav-item active">
                    <a class="nav-link" type=""  th:text="#{home.header.home}" href="/user/home"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{home.header.profile}" href="/user/profile"></a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{home.header.resultExam}" href="/user/result"></a>
                </li>
                <form style="
    position: absolute;
    top: 13px;
    left: 925px;
"   class="form-inline my-2 my-lg-0">
                    <select style="width: 70px;" class=" form-control select-size" id="lang" name="lang" onchange="submit()">
                        <option th:selected="${((param.lang != null) and (param.lang[0] == 'en')) or (param.lang == null)}"
                                value="en" th:text="#{lang.eng}"><img src="" alt=""></option>
                        <option th:selected="${(param.lang != null) and (param.lang[0] == 'ru')}" value="ru"
                                th:text="#{lang.ru}"><img src="" alt=""></option>
                    </select>
                </form>

                <li  class="nav-item" style="margin-left: 40%;display: flex;justify-content: space-around;width: 318px;">
                    <div style="display:flex;width: 54%;justify-content: space-around;">
                        <form sec:authorize="isAnonymous()" th:action="@{/login}" method="get">
                            <input type="submit" class=" btn btn-primary" th:value="#{menu.button.signIn}"/>
                        </form>
                        <form sec:authorize="isAnonymous()"  th:action="@{/register}" method="get">
                            <input type="submit" class=" btn btn-primary" th:value="#{menu.button.registration}"/>
                        </form>
                        <form style="margin-left: auto;" sec:authorize="isFullyAuthenticated()" th:action="@{/logout}" method="post">
                            <input type="submit" class=" btn btn-primary" th:value="#{menu.button.logOut}"/>
                        </form>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>

</body>
</html>